[user]
	name = Misha Artemiev
	email = mykhailo.artemiev@icloud.com

[alias]
    a = add .
    p = push
    qc = "!git commit -m \"auto-snapshot: $(git diff --cached --stat | tail -1)\""
    ui = "!gitui"
